
<h1 style="color:aqua;">About</h1>
@{
    int number = 5;
}
<span>Number: @number</span><br />
<span>praduc:@ViewBag.praduc</span><br />
<span>praduc:@ViewData["count"]</span><br />
<span>praduc type:@TempData["Type"]</span>
